#Animation-container {
    border: 1px solid black;
    margin: 10px auto;
    width: fit-content;
    border-radius: 5px;
}

#Animation-field {
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px;
    background-image: url(https://i.ibb.co/MCwdjPK/field.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 500px;
}

#Animation-control {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#Animation-control button:first-child {
    margin-right: 30px;
}

#Animation-ball {
    border: 1px solid green;
    border-radius: 100%;
    position: relative;
    background-color: brown;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
}