  .mine-container {
    border: 1px solid;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    width: 800px;
    background-image: url(https://i.ibb.co/kBJbnSZ/download.jpg);
    background-size: 150%;
  }
  
  .mine-title {
    border: 1px solid;
    border-radius: 15px;
    background-color: rgb(194, 194, 194);
    display: inline-block;
    width: 28rem;
  }
  
  .mine-name {
    border: 1px solid;
    border-radius: 15px;
    background-color: rgb(189, 189, 189);
    display: inline-block;
    width: 28rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .box1-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .box3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .box4 {
    grid-column-start: 5;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 2;
    margin-bottom: 1rem;
  }